.headline{
  font-size:2.5em;
  text-align: center;
  font-family: 'Georgia', sans-serif;
}


.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Georgia', sans-serif;
  text-align: center;
}
.chapterheadline{
  font-family: 'Georgia',sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

}
.video{
  align-items: center;
}
p{
  font-family: 'Montserrat', sans-sans-serif;
  font-size:1em;
  line-height: 180%;
}
span{
  float:left;
  font-size: 6em;
  font-family: 'Montserrat', serif;
  line-height: 85%;
  color:red;
}

#content{
  margin-left:auto;
  margin-right:auto;
    width:60%;

}
.caption{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
text-align: center;
}
.graphic{
  width:100%;
}

/*Hero image area*/
.hero-container{
position: relative;
  text-align: center;
  color:#fff;

}
.hero-image{
width:100%;
}

.overlay{
  position: absolute;
  top:40%;
  width:100%;
  background:white;
opacity:.8;
}

.hero-hed{
font-family:'Georgia', sans-serif;
font-size:3em;
margin:0 auto;
padding-bottom:10px;
color:red;
}

/*Quote*/
.quote1{
  font-family: 'Georgia', serif;
  color:red;
  font-size:1em;
  font-weight: 700;
  text-align: right;
  padding: 15px 0 15px 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
}
.quote2{
  font-family: 'Georgia', serif;
  color:red;
  font-size:1em;
  font-weight: 700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  margin-top: 20px;
  margin-bottom: 20px;

}

p1{
  font-family:'Georgia',sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 1em;
  line-height: 2em;
}
