.headline{
  font-size:2.5em;
  text-align: center;
  font-family: 'Georgia', sans-serif;
}


.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Georgia', sans-serif;
  text-align: center;
}
.chapterheadline{
  font-family: 'Georgia',sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
}

.row{
  padding-bottom:  50px;
}
.col{
  text-align:center;
}

p{
  font-family: 'Montserrat', serif;
  font-size:1em;
  line-height: 180%;
}

.caption{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
text-align: center;
}
.graphic{
  width:90%;
}

/*Hero image area*/
.hero-container{
  position:relative;
  text-align: center;
  color:#fff;
}

.hero-image{
  midth:100%;

}

.overlay{
  position: absolute;
  top:40%;
  width:100%;
  background:white;
opacity:.8;
}

.hero-hed{
font-family:'Georgia', sans-serif;
font-size:2.5em;
margin:0 auto;
padding-bottom:10px;
color:red;
}

/*Quote*/
.quote{
  font-family: 'Georgia', serif;
  color:red;
  font-size:1em;
  font-weight: 700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  margin-top: 20px;
  margin-bottom: 20px;

}
