.navbar{
  display:flex;
  align-items: center;
  margin:20px;
  background-color:#373833;
}

.navbar ul{
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  color:black;
}

.navbar ul li a {
  color:black;
  padding:30px;
  text-decoration: none;
  display: block;
  align-items: center;
}

#header{
  position: relative;
  width:100%;
  height: 200px;
  text-align: center;


}
h1{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-style: normal;
  font-family: sans-serif;Georgia;
  color:#FA2742;
}



li{
  display: inline-block;
  margin: 0 15px;
  padding:0;
}

h2{
  text-align: center;
  font-size: 12px;

  font-family: sans-serif; Georgia;

}

h3{
  text-align: center;
  font-size: 10px;

  font-family: sans-serif; Georgia;
}

.profilepic{
  width:140px;
  height:130px;
  border-radius: 100%;
  position: fixed;
}

.btn{
  background-color:#FA2742!important
}


.container{
  width:100%;
  align-items:center;
}
.col{
  text-align:center;
  align-items: center;
}

.row{
  padding-bottom:  50px;
  align-items: center;
}

@media only screen and (max-width: 500px) {
h2 {
  padding-top: 50px;
}
  .navbar{
    float: right;
   display: block;
  }

p1{
  text-align: center;
}

.container1{
  background-color: #373833;
  margin:auto;
  max-width: 1500px;
}


.change-color {
       color: red !important;
               }
