#content{
  width:900px;
  max-width:900px;
  margin: 0 auto;
}

#header{
  margin-left: auto;
  margin-right:auto;
  width:100%;
  max-width:900px;
}


}
h1{
  text-align:center;
  font-size:2.5em;
  font-family: Helvetica, sans-serif;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

p{
  font-family: Georgia; serif;
  font-size: 13px;
}


#image{
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

blockquote{
  font-style:italic;
  font-size: 24px normal Helvetica;
  margin-top:15px;
  margin-bottom:15px;
  color:red;
  margin-left:50px;
  padding-left:15px;
  border-left:4px solid #ccc;
}
