#content{
  width:900px;
  max-width:900px;
  margin: 0 auto;
}

#header{
  margin-left: auto;
  margin-right:auto;
  width:100%;
  max-width:900px;
}
#masthead{
  width:100%
  margin-left:auto;
  margin-right:auto;
  max-width:1000px;
}
#headline{
  font-family:Helvetica;sans-serif;
  font-style:italic;
  font-size:30px;
}

}
h1{
  text-align:center;
  font-size:2.5em;
  font-family: Helvetica, sans-serif;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
margin-top:15px;
margin-bottom:15px;
}

p{
  font-family: Georgia; serif;
  font-size: 13px;
}

h2{
  padding-bottom: 0;
}

#image{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

blockquote{
  font-size: 30px normal Helvetica;
  font-style:italic;
  margin-top:15px;
  margin-bottom:15px;
  color:red;
  margin-left:50px;
  padding-left:15px;
  border-left:4px solid #ccc;
}
